body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fs-7 {
  font-size: 12px;
}

.ps-center {
  place-self: center;
}

.card_number {
  word-spacing: 10px;
}

.bc {
  border-color: #f2f2f2;
}

.c_blue {
  color: #4621d9;
}

.active {
  margin-bottom: 0px !important ;
  border-bottom: 4px solid #4621d9;
  color: #4621d9;
}

.in_max > * {
  height: 100%;
}
