.main_container > div:first-child {
  background: white !important;
  padding-inline: 1rem;
  /* margin-top: 3rem; */
}

.main_container > div {
  padding-top: 3rem;
  min-height: 100%;
}

.main_container {
  /* min-height: calc(100vh - 75px) !important; */
}

.main_container > * > div {
  /* height: 100%; */
}